<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        h1{
            text-align: center;
        }

        .box-1{
            background-color:{{color}};
            border: solid;
            height: 125px;
            width: 125px;
            margin: 10px;
        }

        
    </style>
    <title>Playground</title>
</head>
<body>
    <h1>Welcome!</h1>

    <div class="container">
        {% for i in range(0,num) %}
        <div class="box-1"></div>
        {% endfor %}
    </div>

    
</body>
</html>